# Mac filesystem metafiles
.DS_Store

# Downloaded dependency modules
node_modules

# JetBrains IDE project files
.idea/

# Error logs when Yarn fails
yarn-error.log

# Vim temporary files
*.swp

# Jest coverage output
coverage/

# Build products
dist/
