.jumbotron-fluid {
  height: 97vh;

  @if variable-exists(jumbotron-background-image) {
    background: url($jumbotron-background-image);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  @if variable-exists(jumbotron-background-color) {
    background-color: $jumbotron-background-color;
  }

  .jumbotron-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
  }
}