.login-page {
  height: 90vh;
  width: 300px;

  img.logo {
    margin-bottom: $spacer;
  }

  span.product-name {
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-size: $font-size-lg;
    font-weight: 200;
    letter-spacing: .5em;
    margin-bottom: $spacer;
  }

  .login-form {
    margin-bottom: $spacer;
  }

  .btn-social {
    font-weight: 300;
  }

  .btn-facebook {
    background-color: #4267B2;
    color: white;
  }

  .login-type-helper {
    display: block;
    font-size: 12px;
    margin-top: $spacer / 2;
    width: 100%;
    text-align: center;

    a {
      color: $pt-intent-primary;
    }
  }
}
