// Shims because some bootstrap-social depends on vars from an older version of bootstrap
$line-height-computed: $line-height-base;
$padding-base-vertical: $input-btn-padding-y;
$padding-small-vertical: $input-btn-padding-y-sm;
$padding-large-vertical: $input-btn-padding-y-lg;
$padding-base-horizontal: $input-btn-padding-x;
$padding-small-horizontal: $input-btn-padding-x-sm;
$padding-large-horizontal: $input-btn-padding-x-lg;
$font-size-large: $font-size-lg;
$font-size-small: $font-size-sm;
@import "~bootstrap-social/bootstrap-social.scss";